/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #111;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
a::before{
    background: hsl(45 100% 70%);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
}
a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
header {
    text-align: center;
    margin: 20px 0;
}

#products {
    text-align: center;
    margin: 20px;
}
.pro{
    text-align: right;
}